* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  padding: 0px;
  margin: 0px;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 40px;
  background-color: #f0f0f0;
}
h1 {
  color: red;
  /* text-transform: uppercase; */
  text-align: center;
}
#linux {
  color: green;
  background-color: yellow;
  text-align: center;
  border: 10px solid black;
  border-radius: 20px 20px 20px 20px;
  margin: red;
  padding: 0px 0px 0px 0px;
}